body {
    background-color: #2B2B2B;
    text-align: center;
    color: #2B2B2B;
}


h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: rainbow 3s linear infinite;
    font-size: 60px;
}


@keyframes rainbow {
    0% {
        backdrop-filter: blur(4px);
        color: white;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }

    50% {
        backdrop-filter: blur(4px);
        color: gray;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    }

    100% {
        backdrop-filter: blur(4px);
        color: white;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
}



input {
    border: 2px dotted black;
    padding: 10px;
    width: 400px;
    margin-top: 25px;
    border-radius: 15px;
    text-align: left;
}

input:hover {
    box-shadow: 0 0 10px #c4c4c4;
    border: dashed;
    padding: 9px;
}

button {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #e3e1e1;
    box-shadow: 0 0 10px #c4c4c4;

}

#btn {
    margin: 10px;
}

.ls {
    padding: 10px 213px;
}

li {
    font-family: Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;
    background-color: #e3e1e1;
    font-size: 20px;
    padding: 15px;
    width: 500px;
    border-radius: 15px;
    text-align: left;
    margin: 0px auto;
}

li:hover {
    background-color: #e3e1e1;
    box-shadow: 0 0 10px #c4c4c4;
    cursor: pointer;
    padding: 15.5px;
}

#rmbtn {
    background-color: red;
    border: red;
    color: #e3e1e1;
    padding: 5px 10px;
    float: right;
    margin: 0px 5px;
}

#rmbtn:hover {
    box-shadow: 0 0 5px red;
}

#dtbtn {
    background-color: yellow;
    border: yellow;
    color: #2B2B2B;
    padding: 5px 10px;
    float: right;
}

#dtbtn:hover {
    box-shadow: 0 0 10px yellow;
}